<div align="center"> <h1>Asset Manure-Management Emissions CSV</h1></div>

### About This Notebook
This notebook explores the contents of the csv file.
Various exploratory techniques will be used to analyze the content of the csv and perform any necessary cleanups.

In [1]:
# Import necessary libraries to use for the exploration & analysis
import csv 
import pandas as pd
import matplotlib.pyplot as plt

# Set up the number of columns to use when showing a data frame using pandas
pd.set_option('display.max_columns', 200)

In [2]:
# Import the csv file and convert it to a pandas data frame 
df = pd.read_csv("../data/agriculture/asset_manure-management_emissions.csv")

In [3]:
# Show the shape of the data frame (rows, columns)
# The returned value is the number of rows and columns in the dataframe
df.shape

(15245, 21)

In [4]:
# Show the first 5 rows by using the head command
df.head()

,asset_id,iso3_country,original_inventory_sector,start_time,end_time,temporal_granularity,lat_lon,gas,emissions_quantity,emissions_factor,emissions_factor_units,capacity,capacity_units,capacity_factor,activity,activity_units,created_date,modified_date,asset_name,asset_type,st_astext
0,5096624,USA,manure-management,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,NaN,co2,0.000000,0.000000,tonnes_gas_per_animal_head,0.001023,area_sq_meters_of_intensive_farm,NaN,1654,total_animal_head_count,2022-09-13 19:15:27.534582,2022-10-14 21:11:31.952288,USA_CA_beef_100,manure_management_beef,POINT(-121.14280701 37.69197101)
1,5096624,USA,manure-management,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,NaN,ch4,3.308000,0.002000,tonnes_gas_per_animal_head,0.001023,area_sq_meters_of_intensive_farm,NaN,1654,total_animal_head_count,2022-09-13 19:15:27.534582,2022-10-14 21:11:31.952288,USA_CA_beef_100,manure_management_beef,POINT(-121.14280701 37.69197101)
2,5096624,USA,manure-management,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,NaN,n2o,16.375634,0.009901,tonnes_gas_per_animal_head,0.001023,area_sq_meters_of_intensive_farm,NaN,1654,total_animal_head_count,2022-09-13 19:15:27.534582,2022-10-14 21:11:31.952288,USA_CA_beef_100,manure_management_beef,POINT(-121.14280701 37.69197101)
3,5096624,USA,manure-management,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,NaN,co2e_100yr,4415.791310,0.009901,tonnes_gas_per_animal_head,0.001023,area_sq_meters_of_intensive_farm,NaN,1654,total_animal_head_count,2022-09-13 19:15:27.534582,2022-10-14 21:11:31.952288,USA_CA_beef_100,manure_management_beef,POINT(-121.14280701 37.69197101)
4,5096624,USA,manure-management,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,NaN,co2e_20yr,4617.414944,0.009901,tonnes_gas_per_animal_head,0.001023,area_sq_meters_of_intensive_farm,NaN,1654,total_animal_head_count,2022-09-13 19:15:27.534582,2022-10-14 21:11:31.952288,USA_CA_beef_100,manure_management_beef,POINT(-121.14280701 37.69197101)

In [5]:
# List out the columns 
columns = df.columns

index = 0 
print("Column Index\t Column Name")
for column in columns:
    print(f"{index}\t\t {column}")
    index += 1

Column Index	 Column Name
0		 asset_id
1		 iso3_country
2		 original_inventory_sector
3		 start_time
4		 end_time
5		 temporal_granularity
6		 lat_lon
7		 gas
8		 emissions_quantity
9		 emissions_factor
10		 emissions_factor_units
11		 capacity
12		 capacity_units
13		 capacity_factor
14		 activity
15		 activity_units
16		 created_date
17		 modified_date
18		 asset_name
19		 asset_type
20		 st_astext

In [6]:
# Check the data type of the column's content
df.dtypes

asset_id                       int64
iso3_country                  object
original_inventory_sector     object
start_time                    object
end_time                      object
temporal_granularity          object
lat_lon                      float64
gas                           object
emissions_quantity           float64
emissions_factor             float64
emissions_factor_units        object
capacity                     float64
capacity_units                object
capacity_factor              float64
activity                       int64
activity_units                object
created_date                  object
modified_date                 object
asset_name                    object
asset_type                    object
st_astext                     object
dtype: object

#### Here are some of the keys for understanding pandas data types
int64 => Integer

object => String

float64 => Float

In [7]:
# Check on the overal distribution of all numerical data columns
df.describe()

,asset_id,lat_lon,emissions_quantity,emissions_factor,capacity,capacity_factor,activity
count,1.524500e+04,0.0,15245.000000,15245.000000,15245.000000,0.0,15245.000000
mean,1.830905e+07,NaN,7626.359461,0.014695,0.322632,NaN,5486.555592
std,1.549737e+08,NaN,26798.956391,0.019653,0.544975,NaN,13196.685771
min,5.096622e+06,NaN,0.000000,0.000000,0.000006,NaN,100.000000
25%,5.097043e+06,NaN,4.532000,0.002000,0.002122,NaN,784.000000
50%,5.097501e+06,NaN,59.285000,0.009901,0.020440,NaN,1593.000000
75%,5.098268e+06,NaN,5704.715240,0.015458,0.915607,NaN,3582.000000
max,1.836078e+09,NaN,851531.000000,0.128000,4.694419,NaN,188000.000000

In [8]:
# Check on the summarized technical information of the pandas dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15245 entries, 0 to 15244
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   15245 non-null  int64
 1   iso3_country               15245 non-null  object
 2   original_inventory_sector  15245 non-null  object
 3   start_time                 15245 non-null  object
 4   end_time                   15245 non-null  object
 5   temporal_granularity       15245 non-null  object
 6   lat_lon                    0 non-null      float64
 7   gas                        15245 non-null  object
 8   emissions_quantity         15245 non-null  float64
 9   emissions_factor           15245 non-null  float64
 10  emissions_factor_units     15135 non-null  object
 11  capacity                   15245 non-null  float64
 12  capacity_units             15135 non-null  object
 13  capacity_factor            0 non-null      float64
 14  activity                   15245 non-null  int64
 15  activity_units             15135 non-null  object
 16  created_date               15245 non-null  object
 17  modified_date              15135 non-null  object
 18  asset_name                 15245 non-null  object
 19  asset_type                 15245 non-null  object
 20  st_astext                  15245 non-null  object
dtypes: float64(5), int64(2), object(14)
memory usage: 2.4+ MB