<div align="center"> <h1>Asset Enteric-Fermentation Emissions CSV</h1></div>

### About This Notebook
This notebook explores the contents of the csv file.
Various exploratory techniques will be used to analyze the content of the csv and perform any necessary cleanups.

In [11]:
# Import necessary libraries to use for the exploration & analysis
import csv 
import pandas as pd
import matplotlib.pyplot as plt

# Set up the number of columns to use when showing a data frame using pandas
pd.set_option('display.max_columns', 200)

In [12]:
# Import the csv file and convert it to a pandas data frame 
df = pd.read_csv("../data/agriculture/asset_enteric-fermentation_emissions.csv")

In [13]:
# Show the shape of the data frame (rows, columns)
# The returned value is the number of rows and columns in the dataframe
df.shape

(15305, 21)

In [14]:
# Show the first 5 rows by using the head command
df.head()

,asset_id,iso3_country,original_inventory_sector,start_time,end_time,temporal_granularity,lat_lon,gas,emissions_quantity,emissions_factor,emissions_factor_units,capacity,capacity_units,capacity_factor,activity,activity_units,created_date,modified_date,asset_name,asset_type,st_astext
0,5100086,USA,enteric-fermentation,2021-01-01 00:00:00,2021-12-31 00:00:00,annual,NaN,co2,0.0,0.000,tonnes_gas_per_animal_head,1.0,area_sq_meters_of_intensive_farm,NaN,9000,total_animal_head_count,2022-09-13 19:15:49.594347,2023-04-11 18:56:31.292708,USA_CA_dairy_1296,enteric_fermentation_dairy,POINT(-119.76448059 36.16134652)
1,5100086,USA,enteric-fermentation,2021-01-01 00:00:00,2021-12-31 00:00:00,annual,NaN,ch4,1152.0,0.128,tonnes_gas_per_animal_head,1.0,area_sq_meters_of_intensive_farm,NaN,9000,total_animal_head_count,2022-09-13 19:15:49.594347,2023-04-11 18:56:31.292708,USA_CA_dairy_1296,enteric_fermentation_dairy,POINT(-119.76448059 36.16134652)
2,5100086,USA,enteric-fermentation,2021-01-01 00:00:00,2021-12-31 00:00:00,annual,NaN,n2o,0.0,0.000,tonnes_gas_per_animal_head,1.0,area_sq_meters_of_intensive_farm,NaN,9000,total_animal_head_count,2022-09-13 19:15:49.594347,2023-04-11 18:56:31.292708,USA_CA_dairy_1296,enteric_fermentation_dairy,POINT(-119.76448059 36.16134652)
3,5100086,USA,enteric-fermentation,2021-01-01 00:00:00,2021-12-31 00:00:00,annual,NaN,co2e_100yr,51163.2,0.000,tonnes_gas_per_animal_head,1.0,area_sq_meters_of_intensive_farm,NaN,9000,total_animal_head_count,2022-09-13 19:15:49.594347,2023-04-11 18:56:31.292708,USA_CA_dairy_1296,enteric_fermentation_dairy,POINT(-119.76448059 36.16134652)
4,5100086,USA,enteric-fermentation,2021-01-01 00:00:00,2021-12-31 00:00:00,annual,NaN,co2e_20yr,151984.8,0.000,tonnes_gas_per_animal_head,1.0,area_sq_meters_of_intensive_farm,NaN,9000,total_animal_head_count,2022-09-13 19:15:49.594347,2023-04-11 18:56:31.292708,USA_CA_dairy_1296,enteric_fermentation_dairy,POINT(-119.76448059 36.16134652)

In [20]:
# List out the columns 
columns = df.columns

index = 0 
print("Column Index\t Column Name")
for column in columns:
    print(f"{index}\t\t {column}")
    index += 1

Column Index	 Column Name
0		 asset_id
1		 iso3_country
2		 original_inventory_sector
3		 start_time
4		 end_time
5		 temporal_granularity
6		 lat_lon
7		 gas
8		 emissions_quantity
9		 emissions_factor
10		 emissions_factor_units
11		 capacity
12		 capacity_units
13		 capacity_factor
14		 activity
15		 activity_units
16		 created_date
17		 modified_date
18		 asset_name
19		 asset_type
20		 st_astext

In [ ]:
# Check the data type of the column's content